In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, GRU
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression,LogisticRegressionCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [2]:
# pop=pd.read_csv('./US_2001_data/population_drought.csv')
# area=pd.read_csv('./US_2001_data/area_drought.csv')
# dsci=pd.read_csv('./US_2001_data/dsci_drought.csv')

In [3]:
from google.colab import files
uploaded=files.upload()

Saving abbrevs.csv to abbrevs (4).csv
Saving dsci_drought.csv to dsci_drought (4).csv
Saving area_drought.csv to area_drought (4).csv
Saving population_drought.csv to population_drought (4).csv

In [4]:
 import io
 pop=pd.read_csv(io.BytesIO(uploaded['population_drought.csv']))
 area=pd.read_csv(io.BytesIO(uploaded['area_drought.csv']))
 dsci=pd.read_csv(io.BytesIO(uploaded['dsci_drought.csv']))

In [5]:
pop['pop_none']=pop['None']
pop['pop_d0']=pop['D0']
pop['pop_d1']=pop['D1']
pop['pop_d2']=pop['D2']
pop['pop_d3']=pop['D3']
pop['pop_d4']=pop['D4']

pop.head()

    MapDate StateAbbreviation        None    D0  ... pop_d1 pop_d2 pop_d3 pop_d4
0  20211221                AK  709,629.99  0.00  ...   0.00   0.00   0.00   0.00
1  20211214                AK  709,629.99  0.00  ...   0.00   0.00   0.00   0.00
2  20211207                AK  709,629.99  0.00  ...   0.00   0.00   0.00   0.00
3  20211130                AK  709,629.99  0.00  ...   0.00   0.00   0.00   0.00
4  20211123                AK  709,629.99  0.00  ...   0.00   0.00   0.00   0.00

[5 rows x 17 columns]

In [6]:
pop.drop(pop.iloc[:,:11], inplace = True, axis=1)
pop.head()

     pop_none pop_d0 pop_d1 pop_d2 pop_d3 pop_d4
0  709,629.99   0.00   0.00   0.00   0.00   0.00
1  709,629.99   0.00   0.00   0.00   0.00   0.00
2  709,629.99   0.00   0.00   0.00   0.00   0.00
3  709,629.99   0.00   0.00   0.00   0.00   0.00
4  709,629.99   0.00   0.00   0.00   0.00   0.00

In [7]:
area['area_none']=area['None']
area['area_d0']=area['D0']
area['area_d1']=area['D1']
area['area_d2']=area['D2']
area['area_d3']=area['D3']
area['area_d4']=area['D4']

area.head()

    MapDate StateAbbreviation        None    D0  ... area_d1 area_d2 area_d3 area_d4
0  20211221                AK  582,568.29  0.00  ...    0.00    0.00    0.00    0.00
1  20211214                AK  582,568.29  0.00  ...    0.00    0.00    0.00    0.00
2  20211207                AK  582,568.29  0.00  ...    0.00    0.00    0.00    0.00
3  20211130                AK  582,568.29  0.00  ...    0.00    0.00    0.00    0.00
4  20211123                AK  582,568.29  0.00  ...    0.00    0.00    0.00    0.00

[5 rows x 17 columns]

In [8]:
area.drop(columns=['MapDate','None','D0','D1','D2','D3','D4','ValidEnd'],inplace=True)
area.head()

  StateAbbreviation  ValidStart  StatisticFormatID  ... area_d2 area_d3 area_d4
0                AK  2021-12-21                  2  ...    0.00    0.00    0.00
1                AK  2021-12-14                  2  ...    0.00    0.00    0.00
2                AK  2021-12-07                  2  ...    0.00    0.00    0.00
3                AK  2021-11-30                  2  ...    0.00    0.00    0.00
4                AK  2021-11-23                  2  ...    0.00    0.00    0.00

[5 rows x 9 columns]

In [9]:
pop_area=pd.concat([area,pop], axis=1)

pop_area.head()

  StateAbbreviation  ValidStart  StatisticFormatID  ... pop_d2 pop_d3 pop_d4
0                AK  2021-12-21                  2  ...   0.00   0.00   0.00
1                AK  2021-12-14                  2  ...   0.00   0.00   0.00
2                AK  2021-12-07                  2  ...   0.00   0.00   0.00
3                AK  2021-11-30                  2  ...   0.00   0.00   0.00
4                AK  2021-11-23                  2  ...   0.00   0.00   0.00

[5 rows x 15 columns]

In [10]:
dsci

          Name   MapDate  DSCI
0      Alabama  20011225    31
1      Alabama  20020101    39
2      Alabama  20020108    49
3      Alabama  20020115    43
4      Alabama  20020122    31
...        ...       ...   ...
54283  Wyoming  20211123   268
54284  Wyoming  20211130   278
54285  Wyoming  20211207   279
54286  Wyoming  20211214   274
54287  Wyoming  20211221   275

[54288 rows x 3 columns]

In [11]:
abbrevs=pd.read_csv(io.BytesIO(uploaded['abbrevs.csv']))

abbrevs.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [12]:
abbrevs.shape

(51, 3)

In [13]:
pop_area_abbrevs=pd.merge(pop_area, abbrevs, how='outer',
                         left_on='StateAbbreviation', right_on='Code')
pop_area_abbrevs=pop_area_abbrevs.drop(columns='Code',axis=1)
pop_area_abbrevs.head()

#https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html

  StateAbbreviation  ValidStart  StatisticFormatID  ... pop_d4   State  Abbrev
0                AK  2021-12-21                  2  ...   0.00  Alaska  Alaska
1                AK  2021-12-14                  2  ...   0.00  Alaska  Alaska
2                AK  2021-12-07                  2  ...   0.00  Alaska  Alaska
3                AK  2021-11-30                  2  ...   0.00  Alaska  Alaska
4                AK  2021-11-23                  2  ...   0.00  Alaska  Alaska

[5 rows x 17 columns]

In [14]:
pop_area_abbrevs.tail()

      StateAbbreviation  ValidStart  StatisticFormatID  ... pop_d4    State Abbrev
54283                WY  2002-01-22                  2  ...   0.00  Wyoming   Wyo.
54284                WY  2002-01-15                  2  ...   0.00  Wyoming   Wyo.
54285                WY  2002-01-08                  2  ...   0.00  Wyoming   Wyo.
54286                WY  2002-01-01                  2  ...   0.00  Wyoming   Wyo.
54287                WY  2001-12-25                  2  ...   0.00  Wyoming   Wyo.

[5 rows x 17 columns]

In [15]:
pop_area_abbrevs.isnull().sum()

StateAbbreviation       0
ValidStart              0
StatisticFormatID       0
area_none               0
area_d0                 0
area_d1                 0
area_d2                 0
area_d3                 0
area_d4                 0
pop_none                0
pop_d0                  0
pop_d1                  0
pop_d2                  0
pop_d3                  0
pop_d4                  0
State                1044
Abbrev               1044
dtype: int64

In [16]:
pop_area_abbrevs.loc[pop_area_abbrevs['State'].isnull(),'StateAbbreviation'].unique()

array(['PR'], dtype=object)

In [17]:
pop_area_abbrevs.loc[pop_area_abbrevs['StateAbbreviation']=='PR','State']= 'Puerto Rico'

pop_area_abbrevs.loc[pop_area_abbrevs['StateAbbreviation']=='PR','Abbrev']='PR'

pop_area_abbrevs.isnull().sum()

StateAbbreviation    0
ValidStart           0
StatisticFormatID    0
area_none            0
area_d0              0
area_d1              0
area_d2              0
area_d3              0
area_d4              0
pop_none             0
pop_d0               0
pop_d1               0
pop_d2               0
pop_d3               0
pop_d4               0
State                0
Abbrev               0
dtype: int64

In [18]:
pop_area_abbrevs.drop(columns=['StatisticFormatID','Abbrev'],inplace=True)
pop_area_abbrevs.head()

  StateAbbreviation  ValidStart   area_none  ... pop_d3 pop_d4   State
0                AK  2021-12-21  582,568.29  ...   0.00   0.00  Alaska
1                AK  2021-12-14  582,568.29  ...   0.00   0.00  Alaska
2                AK  2021-12-07  582,568.29  ...   0.00   0.00  Alaska
3                AK  2021-11-30  582,568.29  ...   0.00   0.00  Alaska
4                AK  2021-11-23  582,568.29  ...   0.00   0.00  Alaska

[5 rows x 15 columns]

In [19]:
pop_area_abbrevs.drop(columns=['StateAbbreviation'],inplace=True)
pop_area_abbrevs.head()

   ValidStart   area_none area_d0 area_d1  ... pop_d2 pop_d3 pop_d4   State
0  2021-12-21  582,568.29    0.00    0.00  ...   0.00   0.00   0.00  Alaska
1  2021-12-14  582,568.29    0.00    0.00  ...   0.00   0.00   0.00  Alaska
2  2021-12-07  582,568.29    0.00    0.00  ...   0.00   0.00   0.00  Alaska
3  2021-11-30  582,568.29    0.00    0.00  ...   0.00   0.00   0.00  Alaska
4  2021-11-23  582,568.29    0.00    0.00  ...   0.00   0.00   0.00  Alaska

[5 rows x 14 columns]

In [20]:
cols=[i for i in pop_area_abbrevs.columns if i not in ['ValidStart','State']]
for col in cols:
        pop_area_abbrevs[col]=[float(str(i).replace(",",""))for i in pop_area_abbrevs[col]]
#https://stackoverflow.com/questions/44602139/pandas-convert-all-column-from-string-to-number-except-two
#https://stackoverflow.com/questions/8420143/valueerror-could-not-convert-string-to-float-id

In [21]:
pop_area_abbrevs.dtypes

ValidStart     object
area_none     float64
area_d0       float64
area_d1       float64
area_d2       float64
area_d3       float64
area_d4       float64
pop_none      float64
pop_d0        float64
pop_d1        float64
pop_d2        float64
pop_d3        float64
pop_d4        float64
State          object
dtype: object

In [22]:
dsci.drop(columns='MapDate',inplace=True)

In [23]:
dsci.rename(columns={'Name':'State'},inplace=True)

dsci.head()

     State  DSCI
0  Alabama    31
1  Alabama    39
2  Alabama    49
3  Alabama    43
4  Alabama    31

In [24]:
dsci.shape

(54288, 2)

In [25]:
dsci.tail()

         State  DSCI
54283  Wyoming   268
54284  Wyoming   278
54285  Wyoming   279
54286  Wyoming   274
54287  Wyoming   275

In [26]:
final_merged=pd.merge(dsci,pop_area_abbrevs, on ='State')
final_merged.head()
#https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html

     State  DSCI  ValidStart  area_none  ...    pop_d1  pop_d2  pop_d3  pop_d4
0  Alabama    31  2021-12-21   34731.33  ...  26272.15     0.0     0.0     0.0
1  Alabama    31  2021-12-14   28091.42  ...  18480.18     0.0     0.0     0.0
2  Alabama    31  2021-12-07   24009.42  ...  18480.18     0.0     0.0     0.0
3  Alabama    31  2021-11-30   26482.82  ...      0.00     0.0     0.0     0.0
4  Alabama    31  2021-11-23   37734.50  ...      0.00     0.0     0.0     0.0

[5 rows x 15 columns]

In [27]:
final_merged.tail()

            State  DSCI  ValidStart  ...     pop_d2     pop_d3  pop_d4
56676667  Wyoming   275  2002-01-22  ...  229476.07  103159.70     0.0
56676668  Wyoming   275  2002-01-15  ...  225615.99  104415.48     0.0
56676669  Wyoming   275  2002-01-08  ...  226488.65  104651.05     0.0
56676670  Wyoming   275  2002-01-01  ...  183545.63  104852.98     0.0
56676671  Wyoming   275  2001-12-25  ...  187090.33  104775.05     0.0

[5 rows x 15 columns]

In [28]:
#final_merged.to_csv('./US_2001_data/us_drought_cleaned.csv')

In [29]:
final_merged.shape

(56676672, 15)

In [30]:
final_merged['DSCI'].value_counts()

0      16572456
1        772560
3        686952
2        676512
5        580464
         ...
442        1044
475        1044
424        1044
481        1044
482        1044
Name: DSCI, Length: 476, dtype: int64

In [31]:
final_merged['ValidStart']=pd.to_datetime(final_merged['ValidStart'])

In [32]:
final_merged.dtypes

State                 object
DSCI                   int64
ValidStart    datetime64[ns]
area_none            float64
area_d0              float64
area_d1              float64
area_d2              float64
area_d3              float64
area_d4              float64
pop_none             float64
pop_d0               float64
pop_d1               float64
pop_d2               float64
pop_d3               float64
pop_d4               float64
dtype: object

In [33]:
final_merged=final_merged.set_index('ValidStart')

final_merged.head()

              State  DSCI  area_none  ...  pop_d2  pop_d3  pop_d4
ValidStart                            ...
2021-12-21  Alabama    31   34731.33  ...     0.0     0.0     0.0
2021-12-14  Alabama    31   28091.42  ...     0.0     0.0     0.0
2021-12-07  Alabama    31   24009.42  ...     0.0     0.0     0.0
2021-11-30  Alabama    31   26482.82  ...     0.0     0.0     0.0
2021-11-23  Alabama    31   37734.50  ...     0.0     0.0     0.0

[5 rows x 14 columns]

In [34]:
final_merged.head(30)

              State  DSCI  area_none  ...  pop_d2  pop_d3  pop_d4
ValidStart                            ...
2021-12-21  Alabama    31   34731.33  ...     0.0     0.0     0.0
2021-12-14  Alabama    31   28091.42  ...     0.0     0.0     0.0
2021-12-07  Alabama    31   24009.42  ...     0.0     0.0     0.0
2021-11-30  Alabama    31   26482.82  ...     0.0     0.0     0.0
2021-11-23  Alabama    31   37734.50  ...     0.0     0.0     0.0
2021-11-16  Alabama    31   50440.75  ...     0.0     0.0     0.0
2021-11-09  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-11-02  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-10-26  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-10-19  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-10-12  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-10-05  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-09-28  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-09-21  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-09-14  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-09-07  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-08-31  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-08-24  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-08-17  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-08-10  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-08-03  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-07-27  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-07-20  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-07-13  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-07-06  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-06-29  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-06-22  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-06-15  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-06-08  Alabama    31   51604.35  ...     0.0     0.0     0.0
2021-06-01  Alabama    31   50499.96  ...     0.0     0.0     0.0

[30 rows x 14 columns]

In [35]:
final_merged_smaller=final_merged[3::8]
final_merged_smaller.shape

(7084584, 14)

In [39]:
final_merged_smaller.drop(columns='State',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [40]:
features = [col for col in final_merged_smaller.columns if not col == 'DSCI']

X=final_merged_smaller[features]

y=final_merged_smaller[['DSCI']].values

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,y, shuffle=False)

X_train.head()

            area_none   area_d0  area_d1  ...  pop_d2  pop_d3  pop_d4
ValidStart                                ...
2021-11-30   26482.82  25121.53      0.0  ...     0.0     0.0     0.0
2021-10-05   51604.35      0.00      0.0  ...     0.0     0.0     0.0
2021-08-10   51604.35      0.00      0.0  ...     0.0     0.0     0.0
2021-06-15   51604.35      0.00      0.0  ...     0.0     0.0     0.0
2021-04-20   49321.64   2282.71      0.0  ...     0.0     0.0     0.0

[5 rows x 12 columns]

In [42]:
ss= StandardScaler()

X_train_sc=ss.fit_transform(X_train)

X_test_sc=ss.transform(X_test)

In [43]:
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

In [44]:
train_sequences= TimeseriesGenerator(X_train_sc, y_train, length=4, batch_size=64)

In [45]:
batch_x,batch_y=train_sequences[0]

In [46]:
batch_x.shape

(64, 4, 12)

In [47]:
batch_y.shape

(64, 1)

In [48]:
test_sequences=TimeseriesGenerator(X_test_sc, y_test, length =4, batch_size=64)

In [49]:
y[:5]

array([[31],
       [31],
       [31],
       [31],
       [31]])

In [52]:
input_shape=batch_x.shape[1:]

model = Sequential()

model.add(GRU(8, input_shape = input_shape, return_sequences=True))
model.add(GRU(8, return_sequences=False))
model.add(Dense(4,activation = 'relu'))
model.add(Dense(4,activation = 'relu'))
model.add(Dense(1,activation ='linear'))

model.compile(
    loss='mse', optimizer = Adam(lr=.0005),
    metrics= ['acc']
)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [53]:
history= model.fit(train_sequences, validation_data=test_sequences, epochs= 50)

Epoch 1/50
83023/83023 [==============================] - 534s 6ms/step - loss: 8540.8252 - acc: 0.0137 - val_loss: 8613.7354 - val_acc: 0.0147
Epoch 2/50
83023/83023 [==============================] - 506s 6ms/step - loss: 8036.5596 - acc: 0.0133 - val_loss: 8772.4844 - val_acc: 0.0147
Epoch 3/50
83023/83023 [==============================] - 507s 6ms/step - loss: 8015.2842 - acc: 0.0133 - val_loss: 8707.6641 - val_acc: 0.0147
Epoch 4/50
83023/83023 [==============================] - 508s 6ms/step - loss: 7993.3901 - acc: 0.0133 - val_loss: 8772.6797 - val_acc: 0.0147
Epoch 5/50
83023/83023 [==============================] - 506s 6ms/step - loss: 7970.1436 - acc: 0.0133 - val_loss: 8770.1504 - val_acc: 0.0147
Epoch 6/50
83023/83023 [==============================] - 503s 6ms/step - loss: 7949.1538 - acc: 0.0133 - val_loss: 8739.9043 - val_acc: 0.0147
Epoch 7/50
83023/83023 [==============================] - 501s 6ms/step - loss: 7927.0508 - acc: 0.0133 - val_loss: 8791.9541 - val_acc: 0.0147
Epoch 8/50
83023/83023 [==============================] - 507s 6ms/step - loss: 7910.6777 - acc: 0.0133 - val_loss: 8917.0088 - val_acc: 0.0147
Epoch 9/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7892.4453 - acc: 0.0133 - val_loss: 8919.7402 - val_acc: 0.0147
Epoch 10/50
83023/83023 [==============================] - 504s 6ms/step - loss: 7874.1523 - acc: 0.0133 - val_loss: 8843.5723 - val_acc: 0.0147
Epoch 11/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7855.6777 - acc: 0.0133 - val_loss: 8945.1973 - val_acc: 0.0147
Epoch 12/50
83023/83023 [==============================] - 506s 6ms/step - loss: 7847.9697 - acc: 0.0133 - val_loss: 8891.5479 - val_acc: 0.0147
Epoch 13/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7840.5044 - acc: 0.0133 - val_loss: 8918.2451 - val_acc: 0.0147
Epoch 14/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7835.6094 - acc: 0.0133 - val_loss: 8956.0615 - val_acc: 0.0147
Epoch 15/50
83023/83023 [==============================] - 506s 6ms/step - loss: 7826.8242 - acc: 0.0133 - val_loss: 8966.5869 - val_acc: 0.0147
Epoch 16/50
83023/83023 [==============================] - 506s 6ms/step - loss: 7823.8760 - acc: 0.0133 - val_loss: 8968.2705 - val_acc: 0.0147
Epoch 17/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7816.3125 - acc: 0.0133 - val_loss: 8866.3320 - val_acc: 0.0147
Epoch 18/50
83023/83023 [==============================] - 504s 6ms/step - loss: 7814.6143 - acc: 0.0133 - val_loss: 8887.6875 - val_acc: 0.0147
Epoch 19/50
83023/83023 [==============================] - 504s 6ms/step - loss: 7814.3599 - acc: 0.0133 - val_loss: 8813.5986 - val_acc: 0.0147
Epoch 20/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7819.1104 - acc: 0.0133 - val_loss: 8803.7246 - val_acc: 0.0147
Epoch 21/50
83023/83023 [==============================] - 504s 6ms/step - loss: 7812.0098 - acc: 0.0133 - val_loss: 8980.9893 - val_acc: 0.0147
Epoch 22/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7817.2871 - acc: 0.0133 - val_loss: 8938.9395 - val_acc: 0.0147
Epoch 23/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7824.0215 - acc: 0.0133 - val_loss: 8949.9912 - val_acc: 0.0147
Epoch 24/50
83023/83023 [==============================] - 505s 6ms/step - loss: 7803.7461 - acc: 0.0133 - val_loss: 8872.1260 - val_acc: 0.0147
Epoch 25/50
83023/83023 [==============================] - 504s 6ms/step - loss: 7811.0190 - acc: 0.0133 - val_loss: 8943.5762 - val_acc: 0.0147
Epoch 26/50
83023/83023 [==============================] - 500s 6ms/step - loss: 7815.2495 - acc: 0.0133 - val_loss: 8951.4629 - val_acc: 0.0147
Epoch 27/50
83023/83023 [==============================] - 500s 6ms/step - loss: 7796.1235 - acc: 0.0133 - val_loss: 8858.5059 - val_acc: 0.0147
Epoch 28/50
83023/83023 [==============================] - 499s 6ms/step - loss: 7802.2041 - acc: 0.0133 - val_loss: 8849.2852 - val_acc: 0.0147
Epoch 29/50
83023/83023 [==============================] - 498s 6ms/step - loss: 7808.9731 - acc: 0.0133 - val_loss: 8815.2500 - val_acc: 0.0147
Epoch 30/50
83023/83023 [==============================] - 503s 6ms/step - loss: 7787.7300 - acc: 0.0133 - val_loss: 8901.8799 - val_acc: 0.0147
Epoch 31/50
83023/83023 [==============================] - 508s 6ms/step - loss: 7787.6235 - acc: 0.0133 - val_loss: 8868.3350 - val_acc: 0.0147
Epoch 32/50
83023/83023 [==============================] - 510s 6ms/step - loss: 7795.1660 - acc: 0.0133 - val_loss: 8890.0127 - val_acc: 0.0147
Epoch 33/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7826.8662 - acc: 0.0133 - val_loss: 8888.7646 - val_acc: 0.0147
Epoch 34/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7814.3301 - acc: 0.0133 - val_loss: 8900.5410 - val_acc: 0.0147
Epoch 35/50
83023/83023 [==============================] - 510s 6ms/step - loss: 7801.9990 - acc: 0.0133 - val_loss: 8792.8008 - val_acc: 0.0147
Epoch 36/50
83023/83023 [==============================] - 511s 6ms/step - loss: 7784.7939 - acc: 0.0133 - val_loss: 9016.6709 - val_acc: 0.0147
Epoch 37/50
83023/83023 [==============================] - 510s 6ms/step - loss: 7783.7002 - acc: 0.0133 - val_loss: 9027.8750 - val_acc: 0.0147
Epoch 38/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7768.7910 - acc: 0.0133 - val_loss: 8992.6846 - val_acc: 0.0147
Epoch 39/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7779.3984 - acc: 0.0133 - val_loss: 8926.6162 - val_acc: 0.0147
Epoch 40/50
83023/83023 [==============================] - 513s 6ms/step - loss: 7780.6797 - acc: 0.0133 - val_loss: 8903.4473 - val_acc: 0.0147
Epoch 41/50
83023/83023 [==============================] - 513s 6ms/step - loss: 7771.0840 - acc: 0.0133 - val_loss: 9082.9902 - val_acc: 0.0147
Epoch 42/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7764.6299 - acc: 0.0133 - val_loss: 9094.7168 - val_acc: 0.0147
Epoch 43/50
83023/83023 [==============================] - 514s 6ms/step - loss: 7769.0464 - acc: 0.0133 - val_loss: 9134.8496 - val_acc: 0.0147
Epoch 44/50
83023/83023 [==============================] - 513s 6ms/step - loss: 7767.4961 - acc: 0.0133 - val_loss: 9035.8975 - val_acc: 0.0147
Epoch 45/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7761.2876 - acc: 0.0133 - val_loss: 8835.8486 - val_acc: 0.0147
Epoch 46/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7782.3311 - acc: 0.0135 - val_loss: 8987.9873 - val_acc: 0.0147
Epoch 47/50
83023/83023 [==============================] - 511s 6ms/step - loss: 7770.9033 - acc: 0.0134 - val_loss: 8953.4131 - val_acc: 0.0147
Epoch 48/50
83023/83023 [==============================] - 513s 6ms/step - loss: 7771.1533 - acc: 0.0133 - val_loss: 9014.8076 - val_acc: 0.0147
Epoch 49/50
83023/83023 [==============================] - 512s 6ms/step - loss: 7781.6904 - acc: 0.0133 - val_loss: 8928.3340 - val_acc: 0.0147
Epoch 50/50
83023/83023 [==============================] - 510s 6ms/step - loss: 7770.2720 - acc: 0.0134 - val_loss: 9082.0146 - val_acc: 0.0147